
table.master-class-list-wide {
    --bs-table-bg: rgb(223 238 255);
}

.master-class-list-compact {
    display: none;
}

.add-master-class-link {
    color: #ffffff;
    text-shadow: 0px 0px 8px black;
}

body {
    background-color: rgb(189, 216, 247);
    color: rgb(0, 0, 0);
}
.master-class-list-wide .btn {
    margin-bottom: 5px;
}
.btn {
    text-decoration: underline;
}
.btn.compact {
    padding: 3px 7px;
}
.add-master-class-form, .add-participant-form {
    width: 50%;
    min-width: 600px;
}
.master-class-item {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #e9edff;
}
.tooltip .tooltip-inner {
    background-color: #f0dd75;
    color: black;
}
.tooltip .tooltip-arrow {
    --bs-tooltip-bg: #f0dd75;
}

@media (max-width: 1024px) {
    .master-class-list-compact {
        display: block;
    }
    .master-class-list-wide {
        display: none;
    }
}

@media (max-width: 600px) {
    .add-master-class-form, .add-participant-form {
        width: 100%;
        min-width: auto;
    }
}
