{% extends "base.html" %}

{% block title %}Добавление участника{% endblock %}

{% block content %}
  <h1>Добавление участника</h1>
  {% if success == True %}
    <p>Участник успешно добавлен</p>
  {% endif %}
  <form method="post">
    <div>
        <label>Введите имя участника</label>
        <input type="text" name="participant_name">
    </div>
    <div>
        <label>Введите телефон</label>
        <input type="text" name="participant_phone">
    </div>
    <input type="submit" value="Добавить">
  </form>
{% endblock %}