{% extends "base.html" %}

{% block title %}Добавление участника{% endblock %}

{% block content %}
  <h1>Добавление участника</h1>
  {% if success == True %}
    <p>Участник успешно добавлен</p>
  {% endif %}
  <script type="text/javascript">
    function buttonclick(text) {
      alert(text);
    }
  </script>
  <form method="post" class="w-50">
    <div class="mb-3">
        <label class="form-label">Введите имя участника</label>
        <input class="form-control" type="text" name="participant_name">
    </div>
    <div class="mb-3">
        <label class="form-label">Введите телефон</label>
        <input class="form-control" type="text" name="participant_phone">
    </div>
    <input type="submit"  class="btn btn-primary" value="Добавить" onclick="buttonclick('Кнопка нажата!')">
  </form>
{% endblock %}