{% extends "base.html" %}

{% block title %}Кулинарный клуб{% endblock %}
{% block content %}
  <h1 align="center">КУЛИНАРНЫЙ КЛУБ</h1>
  <hr>
  <h2 align="center">Список мастер-классов!</h2>
  <p align="center"><a class="add-master-class-link" href="/master_classes/add_master_class">Добавить новый мастер-класс</a></p>
  <table class="master-class-list-wide table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Название</th>
        <th scope="col">Дата</th>
        <th scope="col">Длительность</th>
        <th scope="col">Количество мест</th>
        <th scope="col">Описание</th>
        <th scope="col">Участники</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      <!-- здесь выводится список мастер-классов -->
      {% for item in data: %}
      <tr>
        <th scope="row">{{item['id']}}</th>
        <td>{{item['title']}}</td>
        <td>{{item['date_time']}}</td>
        <td>{{item['places']}} (занято {{item['participants']|length}})</td>
        <td>{{item['duration']}} мин.</td>
        <td>{{item['description']}}</td>
        <td>
          <button
            type="button"
            class="compact btn btn-primary"
            data-id="{{item['id']}}"
            onclick="getParticipantList(); return false;"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Вывести список участников"
            >
            Участники
          </button><br>
          <a class="compact btn btn-primary" href="/master_classes/{{item['id']}}/add_participant">Записать</a>
        </td>
        <td>
          <a class="btn btn-danger" href="/master_classes/delete/{{item['id']}}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="master-class-list-compact">
    <dvi>
       <!-- здесь выводится список мастер-классов -->
       {% for item in data: %}
        <div class="master-class-item">
          <strong>#</strong>{{item['id']}}<br>
          <strong>Название:</strong> {{item['title']}}<br>
          <strong>Дата:</strong> {{item['date_time']}}<br>
          <strong>Длительность:</strong> {{item['duration']}}<br>
          <strong>Количество мест:</strong> {{item['places']}} (занято {{item['participants']|length}})<br>
          <strong>Описание:</strong> {{item['description']}}<br><br>
          <button type="button" class="btn btn-primary" data-id="{{item['id']}}" onclick="getParticipantList(); return false;">
            Участники
          </button>
          <a class="btn btn-danger" href="/master_classes/delete/{{item['id']}}">Удалить</a>
          <a class="btn btn-primary" href="/master_classes/{{item['id']}}/add_participant">Записать</a>
        </div>
       {% endfor %}
    </dvi>
  </div>

  <div class="modal fade"  id="participant_modal" tabindex="-1" aria-labelledby="modalTitle" style="display: none;" aria-hidden="true">
    <!-- Vertically centered scrollable modal -->
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Список участников</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    
    // Обработка события клика по кнопке "Список участников"
    // Идентификатор мастер-класса определяется через атрибут кнопки data-id
    function getParticipantList() {
      let id = $(event.target).data('id')
      showParticipantList(id)
    }

    // Вывод списка участников в модальном окне
    // HTML списка участников формируется на стороне сервера
    function showParticipantList(id) {
      $.ajax({
        url : '/master_classes/' + id + '/get_participants',
        type: 'GET',
        success : function(data) {
          var modal = new bootstrap.Modal(document.getElementById('participant_modal'), {})
          modal.show()
          $('#participant_modal .modal-body').html(data)
          modal.show()
        }
      })
    }

    // Обработка события по клику на ссылку "удалить участника"
    // Идентификатор мастер класса берется из атрибута ссылки data-master-class-id
    // Идентификатор участника берется из атрибута ссылки data-id
    // После удаление участника список обновляется
    function removeParticipant() {
      let participantId = $(event.target).data('id')
      let masterClassId = $(event.target).data('master-class-id')
      $(event.target).parent().html('<div class="spinner-border spinner-border-sm" role="status"></div>')
      $.ajax({
        url : '/master_classes/' + masterClassId + '/remove_participant/' + participantId,
        type: 'GET',
        success : function(data) {
          $('#participant_modal .modal-body').html(data)
        }
      })
      return false;
    }

  </script>
  <script  type="text/javascript">
      (function () {
        'use strict'
  
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      })()
  </script>
{% endblock %}