{% extends "base.html" %}

{% block title %}Мастер-классы{% endblock %}

{% block content %}
  <h1>Список мастер-классов!</h1>
  <p><a href="/master_classes/add_master_class">Добавить новый мастер-класс</a></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Дата</th>
        <th scope="col">Длительность</th>
        <th scope="col">Количество мест</th>
        <th scope="col">Описание</th>
        <th scope="col">Участники</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      <!-- здесь выводится список мастер-классов -->
      {% for item in data: %}
      <tr>
        <th scope="row">{{item['id']}}</th>
        <td>{{item['title']}}</td>
        <td>{{item['date_time']}}</td>
        <td>{{item['places']}} (занято {{item['participants']|length}})</td>
        <td>{{item['duration']}} мин.</td>
        <td>{{item['description']}}</td>
        <td>
          {% for participant in item['participants']: %}
            <span data-id="{{participant['id']}}" title="{{participant['phone_number']}}">{{participant['name']}}</span><br>
          {% endfor %}
        </td>
        <td>
          <a href="/master_classes/delete/{{item['id']}}">Удалить</a><br>
          <a href="/master_classes/{{item['id']}}/add_participant">Записаться</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}